body {
  height: 100vh;
  overflow: hidden;
}

.content {
  height: calc(100vh - 64px);
}

.color-div {
  text-align: center;
  background-color: black;
  color: white;
  width: 100px;
  position: absolute;
  right: 0;
  padding: 6px;
  text-transform: capitalize;
  top: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.add-button {
  text-transform: capitalize !important;
  color: #d1007e !important;
  text-decoration: underline !important;
}
:root .MuiIconButton-root {
  padding: 0px !important;
}
:root .MuiToolbar-root {
  background: linear-gradient(to bottom, #4b0082, #d1007e) !important;
  color: white;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 6px;
}
